/*============================================================================*/
/*HTML========================================================================*/
/*============================================================================*/
html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0, .2);
}

body { 
    font-size: 17px; 
    font-size: 1.7rem; 
}

/*============================================================================*/
/*DEFAULTS====================================================================*/
/*============================================================================*/

/*TEXT========================================================================*/
h1 { 
    font-size: 27px;
    font-size: 2.7rem; 
}



/*LINKS=======================================================================*/
a {
    text-decoration: none;
    text-align: center;
}

/*============================================================================*/
/*OBJECTS/COMPONENTS==========================================================*/
/*============================================================================*/

/*BUTTONS=====================================================================*/
button {
    padding: 1rem 1.5rem;
    border: 0;
    margin: .5rem;
}

.button {
    float: left;
    padding: 1rem;
    margin: .5rem;
    color: #FFFFFF;
    height: 2rem;
}

.main .button{
    font-size: 2rem;
    padding: 2rem 0;
    width: 60%;
    display: block;
    margin: 1rem 20%;
}

/*============================================================================*/
/*STRUCTURE===================================================================*/
/*============================================================================*/

/*HEADER======================================================================*/
header {
    float: left;
    width: 100%;
    padding: 1rem 0;
}

header .logInButtons {
    float: right;
    margin: 0 1rem;
}

header .logo {
    margin: 0 1rem;
}

/*MAIN========================================================================*/
.main {
    float: left;
    width: 100%;
    padding: 1rem 0;
}

.contentContainer {
    margin: 0 1rem;
}

/*FOOTER======================================================================*/
footer {
    clear: both;
    float: bottom;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    background-color: red;
}