/*============================================================================*/
/*HTML========================================================================*/
/*============================================================================*/
html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: rgba(0,0,0, .2);
}

body { 
    font-size: 17px; 
    font-size: 1.7rem; 
}

.wrapper {
    margin: 0 auto;
    height: 100%;
}

/*============================================================================*/
/*DEFAULTS====================================================================*/
/*============================================================================*/

/*TEXT========================================================================*/
h1 { 
    font-size: 27px;
    font-size: 2.7rem; 
}

/*LINKS=======================================================================*/
a {
    text-decoration: none;
    text-align: center;
}

/*============================================================================*/
/*OBJECTS/COMPONENTS==========================================================*/
/*============================================================================*/

/*BUTTONS=====================================================================*/
button {
    padding: 1rem 1.5rem;
    margin: .5rem;
}

.button {
    padding: 1rem;
    margin: .5rem;
    color: #FFFFFF;
    height: 2rem;
}

.mainContainer .button {
    text-align: center;
    display: block;
    margin: .5rem auto;
    width: 70%;
}

.logInButtons .button, .logOutButton .button {
    float: left;
}

/*IMAGES======================================================================*/
img {
    width: 40px;
    height: 40px;
    background-color: red;
}

.leftImg {
    float: left;
    margin: 0 1rem 1rem 0;
}

.rightImg {
    float: right;
    margin: 0 0 1rem 1rem;
}

/*MEDIA OBJECTS===============================================================*/
.mediaObject {
    margin: .5rem 0;
    padding: 1rem;
}



/*============================================================================*/
/*STRUCTURE===================================================================*/
/*============================================================================*/

/*HEADER======================================================================*/
header {
    float: left;
    width: 100%;
    padding: 1rem 0;
}

header .logInButtons, header .logOutButton {
    float: right;
    margin: 0 1rem;
}

header .logo {
    margin: 0 1rem;
}

/*MAIN========================================================================*/
.main {
    float: left;
    width: 100%;
    padding: 1rem 0;
}

.mainContainer {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
}

/*FOOTER======================================================================*/
footer {
    clear: both;
    float: bottom;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}